body {
  font-family: "Montserrat", sans-serif;
  /* font-size: 14px; */
  margin: 5% 13%;
}

#container {
  margin: 20px 60px;
}

header {
  display: flex;
  align-items: baseline;
}

nav {
  flex: 1;
}

nav ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 0px 10px;
}

nav a {
  color: #666666;
  text-decoration: none;
}

nav a:hover {
  color: #999999;
}

h1 {
  font-size: 3em;
  margin: 0px;
  color: #000000ad;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  margin: 0px;
}

.title-h3 {
  font-size: 2em;
  margin: 0px;
  color: #000000ad;
  padding-right: 10px;
}

.subtitle-h3 {
  font-size: 2em;
  font-weight: 300;
  margin: 0px;
}


.button {
  padding: 14px 24px;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: #ff4e48;
}

#main-section {
    /* display: flex; */
    margin-top: 40px;
    position: relative;
}

.main-section-one {
  margin-top: 100px;
  position: absolute;
  right: 63%;
  z-index: 2;
}

.main-section-two {
  padding-left: 30%;
}

#main-section input[type="email"] {
  padding: 12px 35px;
  border-radius: 17px;
  border: 1px solid #999999;
  outline: none;
}

#main-section form {
  margin: 20px 0;
}

#buttons-shop img {
    width: 160px;
}

#two-section div {
  display: flex;
  flex: 1;
  justify-content: center;
}

#two-section p {
  text-align: center;
  color: #000000ad;
}

#three-section h4, p {
  color: #000000ad;
}

.three-section-flex {
  display: flex;
  align-items: stretch;
}

.three-section-flex article {
  flex-grow: 1;
}

.three-section-flex img {
  width: 50px;
}

.three-section-one {
  float: left;
  padding-right: 24px;
}

.three-section-one img {
  width: 85%;
}

#four-section {
  display: flex;
}

.four-section-space {
  padding-top: 25%;
}